* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 8px;
    background-color: rgb(0, 0, 0);
}

.galeria {
    display: columns;
    columns: 3;
    text-align: center;
}

.galeria img {
    width: 100%;
    padding-block: 8px;
}

.galeria span {
    color: rgb(255, 196, 0);
}   